<%- include("template/cabecera.ejs", {tituloWeb: 'Crear Nueva Mascota' }) %>

    <div class="container">
        <h1>Crear</h1>
        <form action="" method="">

            <input 
                type="text" 
                name="" 
                id=""
                placeholder="Agregar Nombre"
                class="form-control my-2"
            >

            <input 
            type="text" 
            name="" 
            id="" 
            placeholder="Agregar Descripcion" 
            class="form-control my-2"
            >

            <button class="btn btn-success btn-block">Agregar</button>
            
        </form>
    </div>
    
    <%- include("template/footer.ejs") %>